<?xml version="1.0"?>

<launch>

  <!-- moveit_servo test -->
  <node name="servo_server" pkg="moveit_servo" type="servo_server" output="screen" >
    <rosparam command="load" file="$(find salih_marangoz_thesis)/launch/moveit_servo.yaml" />
  </node>

  <!--
rosservice call /controller_manager/switch_controller "start_controllers: ['head_pos_joint_group_pos_controller'] stop_controllers: ['head_pos_traj_controller'] strictness: 2 start_asap: false timeout: 0.0"
-->
  <arg name="switch_control_service_call" value="['head_pos_joint_group_pos_controller'] ['head_pos_traj_controller'] 2 false 0.0"/>
  <node name="rosservice_call_for_joint_group_pos_controller_switch" pkg="rosservice" type="rosservice" output="screen" 
    args="call --wait /controller_manager/switch_controller $(arg switch_control_service_call)">
  </node>

</launch>