<?xml version="1.0"?>

<launch>

  <node name="dawn_ik_solver" pkg="dawn_ik" type="solver_node" output="screen">
    <remap from="joint_trajectory_command" to="/xarm/xarm6_traj_controller/command"/>
    <remap from="joint_trajectory_state" to="/xarm/xarm6_traj_controller/state"/>
  </node>

  <node name="dawn_ik_rviz_control" pkg="dawn_ik" type="dawn_ik_rviz_control.py" output="screen">
  </node>

</launch>
